spring:
  application:
    name: shopping-cart
  datasource:
    url: jdbc:postgresql://localhost:5432/smarthome
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      continue-on-error: false
      separator: ";"
      encoding: UTF-8

logging:
  level:
    root: INFO
    ru.yandex.practicum: DEBUG